@charset 'utf-8';
:root {
  background-color: white;
  font-family: BagelFatOne-Regular;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: 'BagelFatOne-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
/* https://noonnu.cc/font_page/1359 */

body {
  overflow: hidden;
}

.wrap {
  min-width: 450px;
  max-width: 1000px;
  width: calc(100% - 12rem);
  margin: auto;
  text-align: center;
}

.main {
  background-color: pink;
}

.main img {
  width: 150px;
}

.que {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
}

.que > img {
  width: 100px;
  cursor: pointer;
}

.main h1 {
  font-family: BagelFatOne-Regular;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
}

.main > button {
  cursor: pointer;
  padding: 10px;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
  animation: text-effect 3s step-end infinite;
}

@keyframes text-effect {
  50% {
    border: 2px solid rgb(233, 129, 147);
  }
}

.main > button:hover {
  color: rgb(233, 129, 147);
  font-weight: bold;
  box-shadow: 5px 5px;
}

.btn > img {
  position: absolute;
  transform: translate(-165%, -30%);
  width: 100px;
  animation: twinkle 0.2s ease infinite;
  z-index: 999;
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.random {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.random h2 {
  font-family: 'TTLaundryGothicB';
  font-size: 1.8rem;
  color: rgba(233, 174, 46, 0.932);
}

.random li {
  /* border: 10px solid red; */
  width: 45%;
  position: relative;
  padding-top: 45%;
}
.random li > * {
  position: absolute;
  top: 0;
  left: 0;
}
.random li > div {
  /* border: 1px solid red; */
  text-align: left;
  z-index: 1;
  width: 100%;
  top: 3em;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.random li > div strong {
  display: inline-block;
  width: 50px;
}
.random li > div span {
  display: inline-block;
  width: 190px;
}
.random li > h2 {
  /* border: 1px solid red; */
  z-index: 10;
  width: 100%;
  top: 70px;
}

.random > li > img {
  /* border: 1px solid red; */
  width: 100%;
}

.img1 {
  animation: shake 5s ease infinite;
}

.img2 {
  padding: 10px;
  animation: shake2 5s ease infinite;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-1px, 3px);
  }
  50% {
    transform: translate(3px, -1px);
  }
  75% {
    transform: translate(-3px, 3px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes shake2 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(1px, -3px);
  }
  50% {
    transform: translate(-3px, 3px);
  }
  75% {
    transform: translate(3px, -1px);
  }
  100% {
    transform: translate(0);
  }
}

.info1 strong,
.info2 strong {
  color: rgb(233, 129, 147);
  font-family: 'TTLaundryGothicB';
}

.gifimg {
  animation: move 3s ease 1s infinite alternate;
}

@keyframes move {
  0% {
    transition: 0;
    opacity: 0;
  }

  100% {
    transition: 3s;
    opacity: 1;
  }
}

.gif1 {
  position: absolute;
  top: 400px;
  left: 7vw;
  width: 100px;
}

.gif2 {
  position: absolute;
  top: 200px;
  right: 8vw;
  width: 100px;
}

.emph {
  font-weight: bold;
  font-family: 'TTLaundryGothicB';
}

.img3,
.img4 {
  display: none;
}

.menu > img {
  width: 20px;
  margin: 2px;
}

.menu > hr {
  opacity: 0.3;
}

.menu > div > h1 {
  font-family: 'TTLaundryGothicB';
}

.listCon {
  margin: 5px;
}

.slides {
  margin-bottom: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 11px;
  line-height: 1rem;
  padding: 15px;
  background-color: rgba(233, 129, 147, 0.1);
}

.pg {
  --swiper-theme-color: rgb(233, 129, 147);
}

.slides > p > strong {
  color: rgb(233, 129, 147);
}

footer {
  background-color: pink;
  height: 50px;
  font-size: 11px;
  align-content: center;
}

@media (min-width: 650px) and (max-width: 880px) {
  .random li {
    color: rgb(233, 129, 147);
  }

  .info1 strong,
  .info2 strong {
    display: none;
  }

  .info1,
  .info2 {
    font-size: 12px;
  }

  .emph {
    color: black;
  }
}

@media (max-width: 649px) {
  .random {
    display: flex;
    flex-direction: column;
  }

  .random li {
    width: 450px;
    border: 1px dotted pink;
    margin: auto;
  }

  .info2 {
    padding-left: 50px;
  }

  .img1,
  .img2 {
    display: none;
  }

  .img3,
  .img4 {
    display: block;
    width: 100px;
  }
}

/* 모달 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: white;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  cursor: pointer;
}
